.basic_info{
    margin-left: 68px;
}
.basic_info1{
    margin-left: 80px;
}
.founder{
     background-color: #e1f0f0;
    padding-left: 10px;
}
.founder img{
 max-height: 300px;
 max-width: 250px;
 cursor: pointer;

}
.black{
 filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}
.founder_img1{
position: relative;
left: -60px;
}
.founder_img2{
    position: relative;
    right:60px;
}
.founder_img3{
    position: relative;
    right: 122px;
}
.moto{
    background-image: url("https://ideaforgetech.com/_nuxt/img/RepeatGrid1.3bc1f98.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    /* linear-gradient:(123deg); */
    max-width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 19px;
}
._content_text{
    width: 66%;
    color: white;
}
.infoContainer{
    display: none;
}
.office img {
    width: 90%;
    height: 90%;
}
.office_text{
    display: flex;
    justify-content: center;
}
.office_textp{
    width: 70%;
}

@media only screen and (max-width:765px){
.basic_info{
    margin-left:0;
}
.basic_info1{
    margin-left: 0;
}
}
@media only screen and (max-width:600px){
    .founder img{
        width: 100px;
        height: 100px;
    }
    .founder_img1{
position: relative;
right: 24px;
left: -24px;
}
.founder_img2{
    position: relative;
    right:24px;
}
.founder_img3{
    position: relative;
    right: 48px;
}
.moto_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

}
@media only screen and (max-width:1045px)and (min-width:845px){
     .founder img{
        width: 200px;
        height: 200px;
    }
    .founder_img2{
    position: relative;
    right:49px;
}
.founder_img3{
    position: relative;
    right: 108px;
}
}
@media only screen and (max-width:845px)and (min-width:768px){
     .founder img{
        width: 150px;
        height: 150px;
    }
      .founder_img2{
    position: relative;
    right:37px;
}
.founder_img3{
    position: relative;
    right: 75px;
}
.founder_img1{
position: relative;
left: -38px;
}
}
/* @media only screen and (max-width:1045px)and(max-width:845px){
  
} */