.info {
    width: 75vw;
    position: relative;
    top: -69px;
    box-shadow: 2px 1px 5px grey;
    background-color: black;
    border-radius: 80px;
  }
  .target{
      border-right:1px solid black;
    }